body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {

    background-color: black;
    padding: 8px 0;
    text-align: center;

}

nav a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


.medicamentos {
    text-align: center;
    background-color: rgb(75, 199, 208);
    padding: 10px;
    margin-bottom: auto;
    border-radius: 5pc;
}

.nexgard {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(234, 219, 201);
    padding: 10px;
    margin-top: 3px;

}

.botaonexgard:hover {
    background-color: rgb(190, 186, 186);
}

.botaonexgard {
    border-radius: 8px;
}

.simparic {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(234, 219, 201);
    padding: 10px;
    margin-top: 3px;
}

.botaosimparic:hover {
    background-color: rgb(190, 186, 186);
}

.botaosimparic {
    border-radius: 8px;
}

.bravecto {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(234, 219, 201);
    padding: 15px;
    margin-top: 3px;
}

.botaobravecto:hover {
    background-color: rgb(190, 186, 186);
}

.botaobravecto {
    border-radius: 8px;
}
.ovosparacachorros{
    text-align: center;
    background-color: rgb(75, 199, 208);
    padding: 10px;
    border-radius: 5pc; 
}

.ovodepascoa {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(234, 219, 201);
    padding: 15px;
    margin-top: 3px;
}

.botaoovodapascoa:hover {
    background-color: rgb(190, 186, 186);
}

.botaoovodapascoa {
    border-radius: 8px;
}

.ovodepascoadois {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(234, 219, 201);
    padding: 15px;
    margin-top: 3px;
}

.botaoovodapascoadois {
    border-radius: 8px;
}

.botaoovodapascoadois:hover {
    background-color: rgb(190, 186, 186);
}

.ovodepascoatreis {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(234, 219, 201);
    padding: 15px;
    margin-top: 3px;
}
.botaoovodapascoatreis{
    border-radius: 8px;
}
.botaoovodapascoatreis:hover{
    background-color:rgb(190, 186, 186) ;
}